<!DOCTYPE html>

  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Foo</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="application-name" content="main">
      <script src="../files/vendor.dll.js"></script>
      <script type="text/javascript" src="bundle.js"></script>
    </head>
    <body>
      <div id="react-container"></div>
    </body>
  </html>
