@import '../node_modules/colors/colors';

$back: #43a3;

html{
  background:$back;
  overflow: hidden;
}
portal{
  width: 98vw;
  height: 60vh;
}
portal#second{
  width: 98vw;
  height: 40vh;
}
.button{
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portal{
  top: 1vh;
  left: 1vw;
  position: absolute;
  width: 98vw;
  height: 58vh;
}
#portal-second{
  top: 60vh;
  left: 1vw;
  position: fixed;
  width: 98vw;
  height: 38vh;
}
.foo{
  background: $BACK_12;
}

.navagation{
  &__container{
    background: $BACK_5;
    color: $DARK_RED_2;
    position: fixed;
    height: 10vh;
    bottom: 0;
    width: 100vw;
    span{
      background: $GREY_2;
      padding: 20px;
      margin: 20px;
    }
  }
}