@import url(https://fonts.googleapis.com/css?family=Cousine);
@import '../node_modules/colors/colors';

$back: $BACK__14;

html{
  background:$back;
  overflow: hidden;
  font-family: 'Cousine', monospace;
}
body{
  margin: 0 !important;
}