@import url(https://fonts.googleapis.com/css?family=Pacifico:400);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  background-color: #b0bec5;
}
@media screen and (min-width: 1200px) {
  font-size: 20px;
}
@media screen and (min-width: 900px) {
  font-size: 18px;
}
body {
  margin: 0;
}