@import '../node_modules/colors/colors';

$back: #43a3;

html{
  background:$back;
  overflow: hidden;
}
portal{
  width: 90vw;
  height: 100vh;
}
.button{
  cursor: pointer;
  text-align: center;
  div{
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
#portal{
  top: 10vh;
  left: 5vw;
  position: absolute;
  width: 90vw;
  height: 90vh;
}
.foo{
  background: $BACK_12;
}

.navagation{
  &__container{
    background: $BACK_5;
    color: $DARK_RED_2;
    position: fixed;
    height: 10vh;
    bottom: 0;
    width: 100vw;
    span{
      background: $GREY_2;
      padding: 20px;
      margin: 20px;
    }
  }
}