@import '../node_modules/colors/colors';
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400&subset=cyrillic);

html{
  background:$BACK_7;
  overflow: hidden;
}

body{
  font-family: 'Fira Mono', monospace !important;
}
