@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant&subset=cyrillic);
@import "../node_modules/colors/colors";

$back: #f3f0e0;
$break-small: 1020px;
$break-large: 1200px;
$font-size: 5.7vh;

html {
  font-family: "Cormorant Infant", serif;
  color: #B1365BFA;
  background: $back;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  column-gap: 1%;
  row-gap: 1%;
  div {
    line-height: 18vh;
    font-size: 3.28vh;
    width: 30vw;
    height: 20vw;
    background: #AE8D6061;
    box-shadow: 10px 5px 5px $SPECIAL_1;
    text-align: center;
    vertical-align: middle;
    line-height: 18vh;
    height: 22vw;
  }
  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
    div {
      font-size: $font-size * 0.8;
      height: 24vh;
      line-height: 23vh;
      margin: 3vh;
      padding: 1vh;
      width: 74%;
    }
  }
  @media screen and (min-width: $break-large) {
    grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  div{

    font-size: $font-size * 0.8;
      height: 22vh;
      line-height: 23vh;
      margin: 3vmin;
      padding: 1vmin;
      width: 75%;
  }
  }
}
