$size: 4vh;

.word {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center; /* center items horizontally, in this case */
  height: 100%;
}

.word > span {
  padding: 8vh 2vw;
  font-size: $size;
  color: #fafafa;
  background-color: grey;
  border-radius: 8px;
  box-shadow: #4a4a4a 4px 4px 1px;
}
